<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
        <div id="ringku">
<input type="text" v-model='newName'> 
<button @Click="addMember" >Add More</button>
<ul>
    <li  v-for='member in members':key="member.id" >{{member}}</li>
</ul>
<!-- ?component -->
<first>compo</first>
       </div>



    
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script>
        var data={
            newName:"",
            text:"live",
            members:[ "ringku","rakib","rezwan","rita","anik"
                    //  {
                    //     id:1,
                    //     name:"ringku"
                    //  },
                    //  {
                    //      id:2,
                    //      name:"rakib"
                    //  }
                    //  ,
                    //  {
                    //      id:3,
                    //      name:"rezwan"
                    //  },
                    //  {
                    //      id:4,
                    //      name:"rita"
                    //  },
                    //  {
                    //      id:5,
                    //      name:"anik"
                    //  } 
                    ]
        
            
        };

      

    </script>
    <script src="main.js"></script>
</body>
</html>