<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>Document</title>
</head>
<body>
        <div id="ringku">
<input type="text" v-model='text'> 
<ul>
    <li  v-for='member in members':key="member.id" >{{member.name}}</li>
</ul>
       </div>



    
    <script src="https://unpkg.com/vue@2.6.12/dist/vue.js"></script>
    <script>
        var data={
            text:"live",
            members:[ 
                     {
                        id:1,
                        name:"ringku"
                     },
                     {
                         id:2,
                         name:"rakib"
                     }
                     ,
                     {
                         id:3,
                         name:"rezwan"
                     },
                     {
                         id:4,
                         name:"rita"
                     },
                     {
                         id:5,
                         name:"anik"
                     } 
                    ]
        
            
        };

        var Vue= new Vue({
            el:'#ringku',
            data:data

        })

    </script>
</body>
</html>